In [8]:
#Import CSVS
import os
import pandas as pd
import pickle as pk
import os

CDC = pd.read_csv("Resources/clean_heart_disease.csv")
Food =  pd.read_csv('Resources/clean_fast_food.csv')
Heart_Ache = pd.read_csv('Resources/clean_heart_attack.csv')

In [9]:
#Build Databases in POSTGRES
import pandas.io.sql as psql
from sqlalchemy import create_engine
from config import db_password

#Start Engine
db_string_engine = f'postgresql://postgres:{db_password}@127.0.0.1:5432/CDC_Mortality'
engine = create_engine(db_string_engine)

CDC.to_sql(name='State_Hearts',con=engine, if_exists = 'replace')
Food.to_sql(name='Fast_Food',con=engine,  if_exists = 'replace')
Heart_Ache.to_sql(name='Heart_Attack',con=engine,  if_exists = 'replace')

In [10]:
Heart_Ache

,Subject,Age,Sex,Chest_Pain_Type,Resting_BP,Cholesterol,Fasting_BS,Resting_ECG,Max_HR,Exercise_Angina,Old_Peak,ST_Slope,Heart_Disease
0,0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [11]:
dict = {}
for i in list(Heart_Ache.columns):
    dict[i] = Heart_Ache[i].value_counts().shape[0]

pd.DataFrame(dict,index=["unique count"]).transpose()

                 unique count
Subject                   918
Age                        50
Sex                         2
Chest_Pain_Type             4
Resting_BP                 67
Cholesterol               222
Fasting_BS                  2
Resting_ECG                 3
Max_HR                    119
Exercise_Angina             2
Old_Peak                   53
ST_Slope                    3
Heart_Disease               2

In [12]:
Heart_Ache.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Subject,918.0,458.500000,265.148072,0.0,229.25,458.5,687.75,917.0
Age,918.0,53.510893,9.432617,28.0,47.00,54.0,60.00,77.0
Resting_BP,918.0,132.396514,18.514154,0.0,120.00,130.0,140.00,200.0
Cholesterol,918.0,198.799564,109.384145,0.0,173.25,223.0,267.00,603.0
Fasting_BS,918.0,0.233115,0.423046,0.0,0.00,0.0,0.00,1.0
Max_HR,918.0,136.809368,25.460334,60.0,120.00,138.0,156.00,202.0
Old_Peak,918.0,0.887364,1.066570,-2.6,0.00,0.6,1.50,6.2
Heart_Disease,918.0,0.553377,0.497414,0.0,0.00,1.0,1.00,1.0

In [13]:
Heart_Ache.head()

,Subject,Age,Sex,Chest_Pain_Type,Resting_BP,Cholesterol,Fasting_BS,Resting_ECG,Max_HR,Exercise_Angina,Old_Peak,ST_Slope,Heart_Disease
0,0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [15]:
#LabelEncode Non-binary
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
modeled = Heart_Ache.copy()
modeled["Chest_Pain_Type"] = le.fit_transform(modeled["Chest_Pain_Type"])
modeled["Resting_ECG"] = le.fit_transform(modeled["Resting_ECG"])
modeled["Exercise_Angina"] = le.fit_transform(modeled["Exercise_Angina"])
modeled["ST_Slope"] = le.fit_transform(modeled["ST_Slope"])
modeled["Sex"] = le.fit_transform(modeled["Sex"])

In [16]:
#Scale the data
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

modeled = data_scaler.fit_transform(modeled)

In [17]:
#View our Data
modeled[:5]

array([[-1.73016507, -1.4331398 ,  0.51595242,  0.22903206,  0.41090889,
         0.82507026, -0.55134134,  0.01725451,  1.38292822, -0.8235563 ,
        -0.83243239,  1.05211381, -1.11311472],
       [-1.72639154, -0.47848359, -1.93816322,  1.27505906,  1.49175234,
        -0.17196105, -0.55134134,  0.01725451,  0.75415714, -0.8235563 ,
         0.10566353, -0.59607813,  0.89837999],
       [-1.722618  , -1.75135854,  0.51595242,  0.22903206, -0.12951283,
         0.7701878 , -0.55134134,  1.60121899, -1.52513802, -0.8235563 ,
        -0.83243239,  1.05211381, -1.11311472],
       [-1.71884447, -0.5845565 , -1.93816322, -0.81699495,  0.30282455,
         0.13903954, -0.55134134,  0.01725451, -1.13215609,  1.21424608,
         0.57471149, -0.59607813,  0.89837999],
       [-1.71507093,  0.05188098,  0.51595242,  1.27505906,  0.95133062,
        -0.0347549 , -0.55134134,  0.01725451, -0.5819814 , -0.8235563 ,
        -0.83243239,  1.05211381, -1.11311472]])

In [19]:
dum = pd.get_dummies(Heart_Ache, columns=['Sex','Chest_Pain_Type','Resting_ECG','Exercise_Angina','ST_Slope'])
y = dum['Heart_Disease']
X = dum.drop('Heart_Disease', axis= 1)
from sklearn.model_selection import train_test_split
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
dum.head()

,Subject,Age,Resting_BP,Cholesterol,Fasting_BS,Max_HR,Old_Peak,Heart_Disease,Sex_F,Sex_M,...,Chest_Pain_Type_NAP,Chest_Pain_Type_TA,Resting_ECG_LVH,Resting_ECG_Normal,Resting_ECG_ST,Exercise_Angina_N,Exercise_Angina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,0,40,140,289,0,172,0.0,0,0,1,...,0,0,0,1,0,1,0,0,0,1
1,1,49,160,180,0,156,1.0,1,1,0,...,1,0,0,1,0,1,0,0,1,0
2,2,37,130,283,0,98,0.0,0,0,1,...,0,0,0,0,1,1,0,0,0,1
3,3,48,138,214,0,108,1.5,1,1,0,...,0,0,0,1,0,0,1,0,1,0
4,4,54,150,195,0,122,0.0,0,0,1,...,1,0,0,1,0,1,0,0,0,1

In [69]:
#Build our Supervised Learnihng Machine Model but has bumps

#y = Heart_Ache3['HeartDisease']
#X = Heart_Ache3.drop(['Sex','HeartDisease'], axis= 1)

#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,
#   y,  random_state=1, stratify=y)
#X_train.shape

(688, 10)

In [22]:
#Using a Linear Model
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import tree
from sklearn.svm import SVC

model= SVC(kernel='linear')

model.fit(X_train, y_train)
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction":y_pred,
    "Actual": y_test
}).reset_index(drop=True)
results

     Prediction  Actual
0             1       1
1             1       1
2             0       0
3             1       1
4             0       0
..          ...     ...
225           1       1
226           0       1
227           1       1
228           1       1
229           0       0

[230 rows x 2 columns]

In [23]:
# Creating the decision tree classifier instance.
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import tree
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [24]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual True", "Actual False"], columns=["Predicted True", "Predicted False"])

cm_df

              Predicted True  Predicted False
Actual True               85               19
Actual False              19              107

In [25]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [26]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

              Predicted True  Predicted False
Actual True               85               19
Actual False              19              107

Accuracy Score : 0.8347826086956521
Classification Report
              precision    recall  f1-score   support

           0       0.82      0.82      0.82       104
           1       0.85      0.85      0.85       126

    accuracy                           0.83       230
   macro avg       0.83      0.83      0.83       230
weighted avg       0.83      0.83      0.83       230

In [27]:
#Getting LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_train,y_train)

C:\Users\spoot\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [28]:
#Load Confusion Matrics
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[ 82,  22],
       [ 15, 111]], dtype=int64)

In [29]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.8347069597069596

In [30]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.85      0.79      0.88      0.82      0.83      0.69       104
          1       0.83      0.88      0.79      0.86      0.83      0.70       126

avg / total       0.84      0.84      0.83      0.84      0.83      0.70       230

In [31]:
classification_report_imbalanced

In [38]:
#Dumping Machine Learning
with open('model_pkl', 'wb') as files:
    pk.dump(model, files)